body {
  margin: 10px;
}

h1,
p {
  background-color: #fff;
  margin: 7px;
  font-family: "Montserrat", sans-serif;
}

.div1 {
  width: 175px;
  height: 175px;
  border: 5px dotted #ea785b;
  border-radius: 10px;
  background: #f0bbb4;
  color: #515559;
  margin: 10px;
}

.div1 p {
  font-size: 10px;
  padding-left: 5px;
}

.div1 h1 {
  font-size: 14px;
}

.div2 {
  width: 300px;
  height: 200px;
  border: 4px dashed #bcb4ff;
  border-radius: 20px;
  color: #2e2c39;
  background-image: url(/atividade-4/dimensionamento-e-estilizacao/assets/img/fundo-div2.svg);
  background-repeat: no-repeat;
  margin: 10px;
}

.div2 p,
.div2 h1 {
  margin: 12px;
}

.div2 p {
  padding-left: 5px;
  font-size: 12px;
}

.div2 h1 {
  font-size: 14px;
}

.div3 {
  width: 200px;
  height: 250px;
  border: 3px double #c5948d;
  border-radius: 30px;
  color: #66433f;
  background-image: linear-gradient(#a54d27, #ffbe98);
  margin: 10px;
}

.div3 h1 {
  font-size: 12px;
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div3 p {
  font-size: 8px;
  padding-left: 5px;
  margin: 12px;
  margin-bottom: 20px;
}
